<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pesron Info Search</title>
  </head>
  <body>Please Type Full Name
      <form id="search-form" method="POST" action="/search">
        <label for="name">Name</label>
        <input type="text" name="name" />
        <input type="submit" value="submit"/>
    </form>
  </body>
</html>